# Arquivos e pastas sensíveis a serem ignorados pelo Git
Back_end/.env
Back_end/.env.example
Back_end/banco_atualizado.sql
Back_end/cadastrar_massoterapeuta_offline.py
Back_end/__pycache__/
Back_end/*.pyc
*.pyc
.env

# Outras possíveis pastas temporárias
node_modules/
.DS_Store
